# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Dataset
dataset/
rwf2000/
violence_dataset/
training/

# Videos
uploaded_videos/
*.mp4
*.avi

# Database
*.db

# Model outputs
*.npy
*.pt
*.pth
# Processed data
processed_data/
processed_videos/
uploads/
saved_incidents/

# VS Code
.vscode/